@namespace h "http://www.w3.org/1999/xhtml";
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre1 {
    display: block
    }
.calibre10 {
    font-size: 0.91667em;
    line-height: 1.2
    }
.calibre11 {
    color: inherit;
    cursor: inherit;
    line-height: 1.2;
    text-decoration: inherit
    }
.calibre12 {
    font-weight: bolder;
    line-height: 1.2
    }
.calibre13 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre14 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-indent: 1.5em
    }
.calibre15 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre16 {
    font-weight: bolder
    }
.calibre17 {
    font-size: 0.66667em
    }
.calibre18 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4em;
    text-align: center;
    text-indent: 1.5em
    }
.calibre19 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre2 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 1.5em
    }
.calibre20 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8em;
    text-align: center;
    text-indent: 1.5em
    }
.calibre21 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre22 {
    color: blue;
    cursor: pointer;
    text-decoration: underline
    }
.calibre23 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right;
    text-indent: 1.5em
    }
.calibre24 {
    display: block;
    height: 1px
    }
.calibre25 {
    font-size: 0.75em
    }
.calibre26 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre27 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    text-align: center
    }
.calibre28 {
    font-size: 1.17647em;
    line-height: 1.2
    }
.calibre29 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 1em
    }
.calibre3 {
    color: inherit;
    cursor: inherit;
    text-decoration: inherit
    }
.calibre30 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0
    }
.calibre31 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-indent: -2em
    }
.calibre32 {
    display: block
    }
.calibre33 {
    font-size: 0.85em;
    line-height: 1.2
    }
.calibre34 {
    display: block;
    line-height: 1.2
    }
.calibre35 {
    font-style: italic;
    line-height: 1.2
    }
.calibre36 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre37 {
    font-size: 1.25926em;
    line-height: 1.2
    }
.calibre38 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre39 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 1em
    }
.calibre4 {
    display: block;
    height: 2em
    }
.calibre40 {
    height: auto;
    line-height: 1.2;
    width: auto
    }
.calibre41 {
    font-size: 0.66667em;
    line-height: normal;
    vertical-align: super
    }
.calibre42 {
    display: block;
    height: 3em
    }
.calibre43 {
    display: block;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0;
    text-indent: -1em
    }
.calibre44 {
    font-size: 0.79412em;
    line-height: normal;
    vertical-align: super
    }
.calibre45 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 1em
    }
.calibre46 {
    display: block;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 1em;
    text-indent: -1em
    }
.calibre47 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre48 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre49 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-indent: -2em
    }
.calibre5 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1px;
    text-align: center;
    text-indent: 1.5em
    }
.calibre50 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-indent: 0
    }
.calibre51 {
    display: block;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0;
    text-indent: -3em
    }
.calibre52 {
    font-size: 0.77778em;
    line-height: normal;
    vertical-align: sub
    }
.calibre53 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre54 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 1.5em
    }
.calibre55 {
    display: block;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 2em;
    text-indent: -1em
    }
.calibre6 {
    font-style: italic
    }
.calibre7 {
    display: block;
    height: 1em
    }
.calibre8 {
    height: auto;
    width: auto
    }
.calibre9 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px;
    text-align: center
    }
.mbppagebreak {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }